*{
	box-sizing: border-box;
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-ms-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
}

.dt-instagallery {
	margin: 0;
	padding: 0;
	max-width: 100%;
	width:100%;
	height: auto;
}

.dt-instagallery ul {
	list-style: none;
  margin: 0;
  padding: 10px;
	display: flex;
	flex-flow: row wrap;
	align-items: stretch;
}

.dt-insta-photo {
	margin: 3px;
	display: block;
	background: rgba(44, 62, 80,1.0);
	opacity: 1;
	overflow: hidden;
}

.dt-photo:hover {
	opacity: 0.60;
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}
