*{
	box-sizing: border-box;
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-ms-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
}

.dt-instagallery {
	margin: 0;
	padding: 10px 0;
	width:100%;
	height: auto;
  border: 1px solid #ccc;
  border-radius:5px;
}

.dt-instagallery .dt-header {
  font: 300 normal 20px;
  color: #333;
  /*color: #fff;*/
  padding: 10px;
  /*background: #285989;*/

}

.dt-instagallery ul {
	list-style: none;
  margin: 0;
  /*padding: 0;*/
  padding: 10px;
	display: flex;
	flex-flow: row wrap;
	align-items: stretch;
}

.dt-insta-photo {
	margin: 3px;
	display: block;
	background: rgba(44, 62, 80,1.0);
	opacity: 1;
	overflow: hidden;
}

.dt-photo:hover {
	opacity: 0.60;
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}

.dt-btn-follow {
  color: #fff;
  font-size:13px;
  background: #285989;
  text-align: center;
  padding: 3px 0;
  border-radius: 3px;
  display: block;
  opacity: 0.85;
  width: 80%;
  margin: 0 auto;
  transition: .4s;
}

.dt-btn-follow:hover {
  color: #fff;
  opacity: 1
}
